/* =========( RESPONSIVE ) ========= */

@media only screen and (max-width: 1080px)
{
    .navbar a{
        display: none;
    }
    .home-content h1{
        font-size: 50px;
    }
    .home-content .text-animate h3{
        font-size: 30px;
    }
    .right{
        height: 350px;
        width: 350px;
    }
    .right img{
        transform: translateY(-20px) translateX(-10px) scale(1);
    }
}
@media only screen and (max-width: 900px)
{
    .home{
        flex-direction: column;
    }
    .home-content{
        width: 100%;
        align-items: center;
    }
    .home-content p{
        text-align: center;
        width: 500px;
    }
    .home-content h1{
        font-size: 60px;
    }
    .home-content .text-animate h3{
        font-size: 45px;
    }
}
@media only screen and (max-width: 640px)
{
    .home-content p{
        text-align: center;
        width: 400px;
    }
    .home-content h1{
        font-size: 50px;
    }
    .home-content .text-animate h3{
        font-size: 35px;
    }
}
@media only screen and (max-width: 640px)
{
    .home-content p{
        text-align: center;
        width: 300px;
    }
    .home-content h1{
        font-size: 45px;
    }
    .home-content .text-animate h3{
        font-size: 25px;
    }
    .right{
        height: 250px;
        width: 250px;
    }
    .right img{
        transform: translateY(-80px) translateX(-60px) scale(0.8);
    }
}
@media only screen and (max-width: 450px)
{
    .home-content h1{
        font-size: 35px;
        text-align: center;
    }
    .home-content .text-animate h3{
        font-size: 25px;
        text-align: center;
    }
    .btn-box{
        flex-direction: column;
    }
}